NEXT_PUBLIC_SUPABASE_URL=https://ignqextsztajixwdiove.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlnbnFleHRzenRhaml4d2Rpb3ZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MzIzNTAsImV4cCI6MjA4OTUwODM1MH0.HZCiBP32Saf9pxhjsPbS5qVNFgDECgx3MDhBXyFDTkk
